.avatar-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar-content{ 
    width: 400px;
    height: 400px;
}
.avatar-heading {
    color: aliceblue;
    font-size: calc(22px + 0.3vw);
    text-align: center;
    margin: 20px 0px;
}
.avatar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 20px;
}

.avatar-grid img {
    scale: 1;
    width: calc(100px + 0.3vw);
    cursor: pointer;
    transition: scale 0.3s;
}
.avatar-grid img:hover {
    scale: 1.2;
}

.avatar-cancel {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #808080;
    color: #808080;
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;
    min-width: 140px;
    height: 40px;
    margin-top: 34px;
}

.avatar-cancel:hover {
    color: #fff;
    background-color: #000;
}
