.centeredDiv {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding-top: 80px;
}

.accountBox {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:0px 60px 120px;
}

.accountHeader{ 
    display: flex;
    align-items: center;
}

.accountHeader h1{
    font-weight: 500;
    font-size: 2vw; 
}

.accountHeader span{ 
    padding-left: 30px;
    color: #555555;
    font-weight: 600;
}

.accountHeader i { 
    padding-right: 6px;
}

.accountNotify{ 
    margin-bottom: 12px;
    width: 100%;
    background-color: rgb(68,142,244);
}

.notifyItem{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.notifyIcon{ 
    width: 10%;
    margin-right: 12px;
}

.notifyDesc{ 
    width: 90%;
    display: inline-block;
}

.notifyDescSignUp{ 
    text-decoration: underline;
    cursor: pointer;
}


.accountRecovery{ 
    width: 100%;
    border: 1px solid red;
    cursor: pointer;
}

.accountRecovery .notifyItem{ 
    padding-left: 30px;
}

.accountContent{ 
    width: 100%;
}
.accountInformation, .accountPolicy, .accountPlan{ 
    position: relative;
    display: flex;
    margin-top: 60px; 
    align-items: center;
}

.accountInformation::before,.accountInformation::after { 
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    top: -20px;
    left: 0;
    background-color: #737373;
}

.accountInformation::after{ 
    top: calc(100% + 20px);
}

.accountInfoHeading{ 
    text-transform: uppercase;
    color: #737373;
    font-size: 20px;
    font-weight: 500;
    width: 300px;
}

.accountInfoContent, .accountInfoAction{ 
    display: flex;
    margin-left: 60px;
    flex-direction: column;
    gap: 12px;
}

.accountInfoAction{
    flex-grow: 1;
    text-align: end;
}

.accountInfoActionText{ 
    color: #0073e6;
    cursor: pointer;
}
