.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-login {
  width: 100%;
  height: 3000px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.home-image1 {
  top: 0px;
  left: 0px;
  width: 1921px;
  height: 945px;
  opacity: 0.40;
  position: absolute;
}
.home-cineclickhighresolutionlogotransparent12 {
  top: 28px;
  left: 66px;
  width: 275px;
  height: 84px;
  position: absolute;
}
.home-button {
  gap: 5.3125px;
  top: 560px;
  left: 1106.2044677734375px;
  width: 333px;
  display: flex;
  padding: 23.90625px 31.875px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10.625px;
  background-color: var(--dl-color-red-45);
}
.home-icon {
  width: 37px;
  height: 37px;
}
.home-text {
  color: rgba(255, 255, 255, 1);
  width: 236px;
  height: auto;
  font-size: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-button1 {
  gap: 2.50679874420166px;
  top: 28px;
  left: 1695px;
  width: 157px;
  display: flex;
  padding: 11.280593872070312px 15.040791511535645px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5.01359748840332px;
  background-color: var(--dl-color-red-45);
}
.home-text02 {
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: auto;
  font-size: 18.874719619750977px;
  box-shadow: 0px 1.8874719142913818px 1.8874719142913818px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-username {
  gap: 15.455110549926758px;
  top: 560px;
  left: 466px;
  width: 618px;
  display: flex;
  padding: 21.637155532836914px 24.72817611694336px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.54551100730896px;
  border-radius: 18.546133041381836px;
}
.home-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30.910221099853516px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text06 {
  top: 301px;
  left: 388px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text08 {
  top: 1150px;
  left: 124px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 65px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text10 {
  top: 411px;
  left: 664px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text12 {
  top: 1309px;
  left: 124px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text17 {
  top: 1966px;
  left: 124px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 65px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text19 {
  top: 2125px;
  left: 124px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text24 {
  top: 501px;
  left: 427px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle512 {
  top: 945px;
  left: 0px;
  width: 1921px;
  height: 16px;
  position: absolute;
}
.home-rectangle514 {
  top: 1745px;
  left: 0px;
  width: 1921px;
  height: 16px;
  position: absolute;
}
.home-rectangle513 {
  top: 2545px;
  left: 0px;
  width: 1921px;
  height: 16px;
  position: absolute;
}
.home-container1 {
  gap: 30px;
  top: 2597px;
  left: 162px;
  width: 1596px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-sub-container {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text26 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text28 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text30 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text32 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text34 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-sub-container1 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text36 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container1 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text38 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text40 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text42 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text44 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-sub-container2 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text46 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container2 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text48 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text50 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text52 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text54 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-sub-container3 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text56 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text58 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-sub-container4 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text60 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container3 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text62 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text64 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container4 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text66 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-buttons-container {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.home-button2 {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-10);
}
.home-icon1 {
  width: 24px;
  height: 24px;
}
.home-button3 {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-10);
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-button4 {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-10);
}
.home-icon3 {
  width: 24px;
  height: 24px;
}
.home-container2 {
  gap: 24px;
  top: 2901px;
  left: 162px;
  width: 1596px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-line {
  width: 1596px;
  height: 1px;
  align-self: stretch;
}
.home-container3 {
  gap: 343px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-text68 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-buttons-container1 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.home-text70 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-line1 {
  width: 27px;
  height: 1px;
  align-self: stretch;
}
.home-text72 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-line2 {
  width: 27px;
  height: 1px;
  align-self: stretch;
}
.home-text74 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
