.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-support-page-desktop {
  width: 100%;
  height: 2976px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-black-08);
}
.home-footer {
  gap: 100px;
  top: 2471px;
  left: 0px;
  width: 1920px;
  display: flex;
  padding: 100px 162px 50px;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-black-06);
}
.home-container01 {
  gap: 30px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-sub-container {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text002 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text004 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text006 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text008 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-sub-container1 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text010 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container1 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text012 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text014 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text016 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text018 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-sub-container2 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text020 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container2 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text022 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text024 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text026 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text028 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-sub-container3 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text030 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text032 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-sub-container4 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text034 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container3 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text036 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text038 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-links-container4 {
  gap: 24px;
  width: 241px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text040 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-buttons-container {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.home-button {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-10);
}
.home-icon {
  width: 24px;
  height: 24px;
}
.home-button1 {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-10);
}
.home-icon1 {
  width: 24px;
  height: 24px;
}
.home-button2 {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-10);
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-container02 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-line {
  width: 1596px;
  height: 1px;
  align-self: stretch;
}
.home-container03 {
  gap: 343px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-text042 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-buttons-container1 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.home-text044 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-line1 {
  width: 27px;
  height: 1px;
  align-self: stretch;
}
.home-text046 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-line2 {
  width: 27px;
  height: 1px;
  align-self: stretch;
}
.home-text048 {
  color: var(--dl-color-grey-60);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-navbar {
  gap: 261px;
  top: 0px;
  left: -1px;
  width: 1921px;
  display: flex;
  padding: 30px 162px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.home-logo {
  width: 199px;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-cineclickhighresolutionlogotransparent11 {
  top: 3px;
  left: -87px;
  width: 187px;
  height: 57px;
  position: absolute;
}
.home-buttons-container2 {
  gap: 30px;
  display: flex;
  z-index: 1;
  align-items: center;
}
.home-icon3 {
  width: 34px;
  height: 34px;
}
.home-icon4 {
  width: 34px;
  height: 34px;
}
.home-buttons-container3 {
  gap: 30px;
  display: flex;
  padding: 10px 40px 10px 10px;
  z-index: 2;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(30, 30, 30, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 12px;
  background-color: var(--dl-color-black-06);
}
.home-button3 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-items: center;
  border-color: rgba(30, 30, 30, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-06);
}
.home-text050 {
  color: var(--dl-color-grey-75);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text052 {
  color: var(--dl-color-grey-75);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-button4 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-items: center;
  border-color: rgba(30, 30, 30, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-10);
}
.home-text054 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-text056 {
  color: var(--dl-color-grey-75);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame14 {
  gap: 98px;
  top: 205px;
  left: 120px;
  width: 1680px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-container04 {
  gap: 100px;
  width: 1596px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.home-text-container {
  gap: 14px;
  width: 1310px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text058 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 96px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-button5 {
  gap: 10px;
  display: flex;
  padding: 18px 24px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(229, 0, 0, 1);
}
.home-text060 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 36px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 800;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-container05 {
  gap: 80px;
  width: 1680px;
  height: 943px;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-sub-container5 {
  gap: 50px;
  height: 943px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text-container01 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text062 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 50px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-image {
  width: 533px;
  height: 779px;
  border-radius: 12px;
}
.home-form {
  gap: 50px;
  width: 1017px;
  height: 902px;
  display: flex;
  padding: 50px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-black-06);
}
.home-container06 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text064 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-input-field {
  gap: 77px;
  color: rgba(153, 153, 153, 1);
  display: flex;
  padding: 20px;
  overflow: hidden;
  font-size: 32px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Manrope;
  font-weight: 400;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-08);
}
.home-container07 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text066 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-input-field1 {
  gap: 77px;
  color: rgba(153, 153, 153, 1);
  display: flex;
  padding: 20px;
  font-size: 32px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Manrope;
  font-weight: 400;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-08);
}
.home-items-container {
  gap: 50px;
  width: 876px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-container08 {
  gap: 16px;
  width: 876px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text068 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-input-feild {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-container09 {
  gap: 6px;
  display: flex;
  padding: 0 12px;
  align-self: stretch;
  align-items: center;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-08);
}
.home-image1 {
  width: 40px;
  height: 26px;
  border-radius: 2px;
}
.home-icon5 {
  width: 24px;
  height: 24px;
}
.home-container10 {
  gap: 77px;
  display: flex;
  padding: 20px;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-08);
}
.home-text070 {
  color: var(--dl-color-grey-60);
  height: auto;
  flex-grow: 1;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-container11 {
  gap: 16px;
  width: 876px;
  height: 83px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text072 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-input-field2 {
  gap: 77px;
  color: rgba(153, 153, 153, 1);
  display: flex;
  padding: 20px;
  font-size: 32px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Manrope;
  font-weight: 400;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-black-08);
}
.home-settings {
  gap: 80px;
  width: 1596px;
  display: flex;
  z-index: 2;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-container12 {
  gap: 100px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
}
.home-text-container02 {
  gap: 14px;
  width: 1596px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-text074 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 96px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-container13 {
  gap: 80px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-items-container1 {
  width: 758px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-faq-item {
  gap: 24px;
  display: flex;
  padding: 30px 34px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text-container03 {
  gap: 10px;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-black-12);
}
.home-text076 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text078 {
  color: var(--dl-color-absolute-white);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-heroiconssolidarrowlongright {
  width: 24px;
  height: 24px;
}
.home-line3 {
  width: 758px;
  height: 1px;
  align-self: stretch;
}
.home-faq-item1 {
  gap: 24px;
  display: flex;
  padding: 30px 34px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text-container04 {
  gap: 10px;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-black-12);
}
.home-text080 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text082 {
  color: var(--dl-color-absolute-white);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-icon6 {
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-heroiconssolidarrowlongright1 {
  top: 3.5px;
  left: 3px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-line4 {
  width: 758px;
  height: 1px;
  align-self: stretch;
}
.home-faq-item2 {
  gap: 24px;
  display: flex;
  padding: 30px 34px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text-container05 {
  gap: 10px;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-black-12);
}
.home-text084 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text086 {
  color: var(--dl-color-absolute-white);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-heroiconssolidarrowlongright2 {
  width: 24px;
  height: 24px;
}
.home-line5 {
  width: 758px;
  height: 1px;
  align-self: stretch;
}
.home-faq-item3 {
  gap: 24px;
  display: flex;
  padding: 30px 34px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text-container06 {
  gap: 10px;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-black-12);
}
.home-text088 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text090 {
  color: var(--dl-color-absolute-white);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-heroiconssolidarrowlongright3 {
  width: 24px;
  height: 24px;
}
.home-items-container2 {
  width: 758px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-faq-item4 {
  gap: 24px;
  display: flex;
  padding: 30px 34px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text-container07 {
  gap: 10px;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-black-12);
}
.home-text092 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text094 {
  color: var(--dl-color-absolute-white);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-heroiconssolidarrowlongright4 {
  width: 24px;
  height: 24px;
}
.home-line6 {
  width: 758px;
  height: 1px;
  align-self: stretch;
}
.home-faq-item5 {
  gap: 24px;
  display: flex;
  padding: 30px 34px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text-container08 {
  gap: 10px;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-black-12);
}
.home-text096 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text098 {
  color: var(--dl-color-absolute-white);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-heroiconssolidarrowlongright5 {
  width: 24px;
  height: 24px;
}
.home-line7 {
  width: 758px;
  height: 1px;
  align-self: stretch;
}
.home-faq-item6 {
  gap: 24px;
  display: flex;
  padding: 30px 34px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text-container09 {
  gap: 10px;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-black-12);
}
.home-text100 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text102 {
  color: var(--dl-color-absolute-white);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-heroiconssolidarrowlongright6 {
  width: 24px;
  height: 24px;
}
.home-line8 {
  width: 758px;
  height: 1px;
  align-self: stretch;
}
.home-faq-item7 {
  gap: 24px;
  display: flex;
  padding: 30px 34px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.home-text-container10 {
  gap: 10px;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-color: rgba(38, 38, 38, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-black-12);
}
.home-text104 {
  color: var(--dl-color-absolute-white);
  height: auto;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text106 {
  color: var(--dl-color-absolute-white);
  height: auto;
  flex-grow: 1;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Manrope;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.home-heroiconssolidarrowlongright7 {
  width: 24px;
  height: 24px;
}
