.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-card {
  width: 892.8885498046875px;
  height: 1592px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle5 {
  top: 0px;
  left: 0px;
  width: 893px;
  height: 1592px;
  position: absolute;
  box-shadow: 3.3885715007781982px 5.082857131958008px 16.94285774230957px 0px rgba(0, 0, 0, 0.18000000715255737) ;
}
.home-google-pay {
  top: 1215px;
  left: 160px;
  width: 573px;
  height: 76.83999633789062px;
  display: flex;
  padding: 22.920000076293945px 30.559999465942383px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 7.639999866485596px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.home-logo {
  width: 111px;
  height: 44.187042236328125px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-vector {
  top: 2.551718235015869px;
  left: 48.51667022705078px;
  width: 21px;
  height: 32px;
  position: absolute;
}
.home-vector01 {
  top: 11.940375328063965px;
  left: 69.3280258178711px;
  width: 19px;
  height: 23px;
  position: absolute;
}
.home-vector02 {
  top: 12.654760360717773px;
  left: 89.38208770751953px;
  width: 22px;
  height: 32px;
  position: absolute;
}
.home-vector03 {
  top: 15.059046745300293px;
  left: 18.375415802001953px;
  width: 18px;
  height: 17px;
  position: absolute;
}
.home-vector04 {
  top: 21.89419937133789px;
  left: 1.9566903114318848px;
  width: 29px;
  height: 15px;
  position: absolute;
}
.home-vector05 {
  top: 10.125502586364746px;
  left: 0.00005944207077845931px;
  width: 8px;
  height: 17px;
  position: absolute;
}
.home-vector06 {
  top: 0.00007772445678710938px;
  left: 1.9566903114318848px;
  width: 29px;
  height: 15px;
  position: absolute;
}
.home-pay-pal {
  gap: 7.639999866485596px;
  top: 1419px;
  left: 160px;
  width: 573px;
  display: flex;
  padding: 22.920000076293945px 30.559999465942383px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 7.639999866485596px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.home-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 26.739999771118164px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30.559999465942383px;
  font-stretch: normal;
  text-decoration: none;
}
.home-logo1 {
  width: 0px;
  height: 0px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-pay-pal1 {
  gap: 7.639999866485596px;
  top: 1317px;
  left: 159px;
  width: 573px;
  display: flex;
  padding: 22.920000076293945px 30.559999465942383px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 7.639999866485596px;
  justify-content: center;
  background-color: var(--dl-color-default-paypalyellow);
}
.home-text02 {
  color: rgba(37, 59, 128, 1);
  height: auto;
  font-size: 22.920000076293945px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 30.559999465942383px;
  font-stretch: normal;
  text-decoration: none;
}
.home-logo2 {
  width: 114px;
  height: 27.946657180786133px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-vector07 {
  top: 6.249967575073242px;
  left: 33.023033142089844px;
  width: 15px;
  height: 18px;
  position: absolute;
}
.home-vector08 {
  top: 11.822821617126465px;
  left: 47.380672454833984px;
  width: 15px;
  height: 12px;
  position: absolute;
}
.home-vector09 {
  top: 12.108202934265137px;
  left: 63.74717330932617px;
  width: 15px;
  height: 16px;
  position: absolute;
}
.home-vector10 {
  top: 6.249967575073242px;
  left: 78.1971435546875px;
  width: 15px;
  height: 18px;
  position: absolute;
}
.home-vector11 {
  top: 11.822821617126465px;
  left: 92.55851745605469px;
  width: 15px;
  height: 12px;
  position: absolute;
}
.home-vector12 {
  top: 6.249034881591797px;
  left: 107.86835479736328px;
  width: 7px;
  height: 18px;
  position: absolute;
}
.home-vector13 {
  top: 0.9485054016113281px;
  left: 0.9820361137390137px;
  width: 22px;
  height: 26px;
  position: absolute;
}
.home-vector14 {
  top: 7.100048065185547px;
  left: 5.730922698974609px;
  width: 18px;
  height: 21px;
  position: absolute;
}
.home-vector15 {
  top: 6.211264133453369px;
  left: 7.413363933563232px;
  width: 14px;
  height: 10px;
  position: absolute;
}
.home-vector16 {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 25px;
  position: absolute;
}
.home-products {
  top: 239px;
  left: 61px;
  width: 766.4542846679688px;
  height: 899px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text04 {
  top: 828px;
  left: 302px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40.66285705566406px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text05 {
  font-weight: 400;
}
.home-text07 {
  color: rgba(0, 0, 0, 1);
  width: 749px;
  height: auto;
  position: absolute;
  font-size: 44.051429748535156px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text09 {
  top: 151px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text11 {
  top: 291px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text13 {
  top: 431px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text15 {
  top: 571px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text17 {
  top: 711px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text19 {
  top: 711px;
  left: 542px;
  color: rgba(0, 0, 0, 1);
  width: 224px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text21 {
  top: 571px;
  left: 542px;
  color: rgba(0, 0, 0, 1);
  width: 224px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text23 {
  top: 431px;
  left: 508px;
  color: rgba(0, 0, 0, 1);
  width: 258px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text25 {
  top: 291px;
  left: 542px;
  color: rgba(0, 0, 0, 1);
  width: 224px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text27 {
  top: 151px;
  left: 542px;
  color: rgba(0, 0, 0, 1);
  width: 224px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text29 {
  top: 11.860107421875px;
  left: 619.05126953125px;
  color: rgba(57, 57, 57, 1);
  height: auto;
  position: absolute;
  font-size: 33.88571548461914px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text31 {
  top: 49px;
  left: 235px;
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-text31 {
    top: 49px;
    left: 249px;
    color: rgb(38, 38, 38);
    font-size: 50px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}
