.centeredDiv{ 
    width: 100vw;
    height: 100vh;
    padding: 0px 60px;
    overflow: auto;
}

.headerWrapper{ 
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerText{ 
    font-size: 36px;
    color: #fff;
    font-weight: 400;
}

.MovieGrid{ 
    margin-top: 50px;
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12px;
    row-gap: 60px;
}

.image{ 
    cursor: pointer;
    max-height: 300px;
    border-radius: 6px;
    object-fit: contain;
}

.pagination{ 
    width: 100%;
    margin: 60px 0px;
    text-align: center;
}
.paginationItem{
    color: #fff;
    padding: 10px;
    margin-left: 12px;
    background-color: rgb(229, 9, 20, 0.5);
    border-radius: 6px;
    cursor: pointer;
}

.paginationItem:hover{ 
    background-color: #e50914;
}

